<a href="https://colab.research.google.com/github/IngerMasha/week1/blob/main/Dictionaries/Exercises_XP_and_Exercises_XP_Gold_%2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
student_grades = {
    "Alice": [88, 92, 100],
    "Bob": [75, 78, 80],
    "Charlie": [92, 90, 85],
    "Dana": [83, 88, 92],
    "Eli": [78, 80, 72]
}
student_averages = {}
student_letter_grades = {}
for student, grades in student_grades.items():
    avg_grade = sum(grades) / len(grades)
    student_averages[student] = avg_grade
    if avg_grade >= 90:
        letter_grade = 'A'
    elif avg_grade >= 80:
        letter_grade = 'B'
    elif avg_grade >= 70:
        letter_grade = 'C'
    elif avg_grade >= 60:
        letter_grade = 'D'
    else:
        letter_grade = 'F'
    student_letter_grades[student] = letter_grade
class_average = sum(student_averages.values()) / len(student_averages)
print(f"Class Average: {class_average:.2f}")
for student in student_averages:
    print(f"{student}: Average Grade = {student_averages[student]:.2f}, Letter Grade = {student_letter_grades[student]}")

Class Average: 84.87
Alice: Average Grade = 93.33, Letter Grade = A
Bob: Average Grade = 77.67, Letter Grade = C
Charlie: Average Grade = 89.00, Letter Grade = B
Dana: Average Grade = 87.67, Letter Grade = B
Eli: Average Grade = 76.67, Letter Grade = C

In [2]:
sales_data = [
    {"customer_id": 1, "product": "Smartphone", "price": 600, "quantity": 1, "date": "2023-04-03"},
    {"customer_id": 2, "product": "Laptop", "price": 1200, "quantity": 1, "date": "2023-04-04"},
    {"customer_id": 1, "product": "Laptop", "price": 1000, "quantity": 1, "date": "2023-04-05"},
    {"customer_id": 2, "product": "Smartphone", "price": 500, "quantity": 2, "date": "2023-04-06"},
    {"customer_id": 3, "product": "Headphones", "price": 150, "quantity": 4, "date": "2023-04-07"},
    {"customer_id": 3, "product": "Smartphone", "price": 550, "quantity": 1, "date": "2023-04-08"},
    {"customer_id": 1, "product": "Headphones", "price": 100, "quantity": 2, "date": "2023-04-09"},
]
total_sales = {}
for sale in sales_data:
    product = sale["product"]
    total_sales[product] = total_sales.get(product, 0) + (sale["price"] * sale["quantity"])
print("Total Sales per Product:", total_sales)
customer_spending = {}
for sale in sales_data:
    customer_id = sale["customer_id"]
    total_price = sale["price"] * sale["quantity"]
    customer_spending[customer_id] = customer_spending.get(customer_id, 0) + total_price
print("Total Spending per Customer:", customer_spending)
for sale in sales_data:
    sale["total_price"] = sale["price"] * sale["quantity"]
high_value_transactions = sorted(
    [sale for sale in sales_data if sale["total_price"] > 500],
    key=lambda x: x["total_price"],
    reverse=True
)
print("High-Value Transactions:", high_value_transactions)
purchase_counts = {}
for sale in sales_data:
    customer_id = sale["customer_id"]
    purchase_counts[customer_id] = purchase_counts.get(customer_id, 0) + 1
loyal_customers = [customer_id for customer_id, count in purchase_counts.items() if count > 1]
print("Loyal Customers:", loyal_customers)

Total Sales per Product: {'Smartphone': 2150, 'Laptop': 2200, 'Headphones': 800}
Total Spending per Customer: {1: 1800, 2: 2200, 3: 1150}
High-Value Transactions: [{'customer_id': 2, 'product': 'Laptop', 'price': 1200, 'quantity': 1, 'date': '2023-04-04', 'total_price': 1200}, {'customer_id': 1, 'product': 'Laptop', 'price': 1000, 'quantity': 1, 'date': '2023-04-05', 'total_price': 1000}, {'customer_id': 2, 'product': 'Smartphone', 'price': 500, 'quantity': 2, 'date': '2023-04-06', 'total_price': 1000}, {'customer_id': 1, 'product': 'Smartphone', 'price': 600, 'quantity': 1, 'date': '2023-04-03', 'total_price': 600}, {'customer_id': 3, 'product': 'Headphones', 'price': 150, 'quantity': 4, 'date': '2023-04-07', 'total_price': 600}, {'customer_id': 3, 'product': 'Smartphone', 'price': 550, 'quantity': 1, 'date': '2023-04-08', 'total_price': 550}]
Loyal Customers: [1, 2, 3]

In [8]:
birthdays = {
    "Alice": "1995/06/15",
    "Bob": "1987/08/22",
    "Charlie": "2000/01/10",
    "Dana": "1992/03/27",
    "Eli": "1985/11/05"
}

print("Welcome! You can look up the birthdays of the people in the list!")
name = input("Whose birthday would you like to look up? ")
name_capitalize = name.capitalize()

if name_capitalize in birthdays:
    print(f"{name_capitalize}'s birthday is on {birthdays[name_capitalize]}.")
else:
    print(f"Sorry, we don't have the birthday information for {name_capitalize}.")

Welcome! You can look up the birthdays of the people in the list!
Whose birthday would you like to look up? Bob
Bob's birthday is on 1987/08/22.

In [10]:
print("Here are the names of people whose birthdays we know:")
for name in birthdays.keys():
    print(name)
name = input("Whose birthday would you like to look up? ")
name_capitalize = name.capitalize()

if name_capitalize in birthdays:
    print(f"{name_capitalize}'s birthday is on {birthdays[name_capitalize]}.")
else:
    print(f"Sorry, we don't have the birthday information for {name_capitalize}.")

Here are the names of people whose birthdays we know:
Alice
Bob
Charlie
Dana
Eli
Whose birthday would you like to look up? bob
Bob's birthday is on 1987/08/22.

In [11]:
new_name = input("Enter a new person's name: ")
new_birthday = input(f"Enter {new_name}'s birthday (in YYYY/MM/DD format): ")
birthdays[new_name] = new_birthday
print("Here are the names of people whose birthdays we know:")
for name in birthdays.keys():
    print(name)
name = input("Whose birthday would you like to look up? ")
if name in birthdays:
    print(f"{name}'s birthday is on {birthdays[name]}.")
else:
    print(f"Sorry, we don't have the birthday information for {name}.")

Enter a new person's name: Bob
Enter Bob's birthday (in YYYY/MM/DD format): 23/08/2000
Here are the names of people whose birthdays we know:
Alice
Bob
Charlie
Dana
Eli
Whose birthday would you like to look up? Bob
Bob's birthday is on 23/08/2000.

In [12]:
items = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}

for item, price in items.items():
    print(f"The price of a {item} is {price} dollars.")
items_with_stock = {
    "banana": {"price": 4, "stock": 10},
    "apple": {"price": 2, "stock": 5},
    "orange": {"price": 1.5, "stock": 24},
    "pear": {"price": 3, "stock": 1}
}
total_cost = 0
for item, details in items_with_stock.items():
    item_total = details["price"] * details["stock"]
    total_cost += item_total
print(f"The total cost to buy everything in stock is {total_cost} dollars.")

The price of a banana is 4 dollars.
The price of a apple is 2 dollars.
The price of a orange is 1.5 dollars.
The price of a pear is 3 dollars.
The total cost to buy everything in stock is 89.0 dollars.